/* 
this style sheet will include how the website will display the text and other media as stated in the html document	
*/
/* this is the page container that is the darker grey color. It holds the bulk of the html and style */
.pageContainer {
  width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #24272b;
}

.imageContainer {
  float: top;
  width: 700px;
  height: auto 0 auto;
  text-align: center;
}
/* Next few containers would be the style for the text displayed on the page, the style for the main container, the artcle container, h1, h2, and so on */
body {
  background-color: #e2e2e2;
  margin: 25px;
  padding: 25px;
}

main {
  font-family: 'Tahoma';
  font-size: 14px;
  color: #fff;
}

ul {
  font-family: 'Tahoma';
  font-size: 14px;
  color: #24272b;
}

article {
  font-family: 'Tahoma';
  font-size: 14px;
  color: #fff;
}

h1 {
  font-family: 'Century Gothic';
  font-size: 36px;
  color: #3e78b2;
  text-align: center;
}

h2 {
  font-family: 'Century Gothic';
  font-size: 24px;
  color: #814b79;
  text-align: center;
}

h3 {
  font-family: 'Century Gothic';
  font-size: 18px;
  color: #6ad5cb;
}

h5 {
  font-family: 'Century Gothic';
  font-size: 14px;
  color: #fff;
  text-align: center;
}

p {
  font-family: 'Tahoma';
  font-size: 14px;
}

ul {
  font-family: 'Tahoma';
  font-size: 14px;
  color: black;
  text-align: left;
}

li {
  background-color: #e2e2e2;
  padding: 3px 6px;
}
.list-inside li {
  list-style-position: inside;
}
ol {
  font-family: 'Tahoma';
  font-size: 14px;
}

a {
  font-family: 'Tahoma';
  font-size: 16px;
}
a:link {
  color: #3e78b2;
}
a:visited {
  color: #6ad5cb;
}
a:hover {
  color: #edc79b;
}
a:active {
  color: #814b79;
} 